<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div ng-avatar initials="ZZ" bg-color="cyan" text-color="red" round-shape="true" style="display: inline-block"></div>
    <span class="text-info" style="font-size: medium">站址信息</span>
    <div class="divider"><br /></div>
    <div plan-site-details item-groups="itemGroups"></div>
    <div ng-show="eNodebGroups">
        <div ng-avatar initials="BU" bg-color="cyan" text-color="blue" round-shape="true" style="display: inline-block"></div>
        <span class="text-info" style="font-size: medium">BBU信息</span>
        <div class="divider"><br /></div>
        <div plan-site-details item-groups="eNodebGroups"></div>
    </div>
    <div ng-avatar initials="CE" bg-color="cyan" text-color="blue" round-shape="true" style="display: inline-block"></div>
    <span class="text-info" style="font-size: medium">小区信息</span>
    <div class="divider"><br /></div>
    <div lte-cell-table items="cellList" begin-date="beginDate" end-date="endDate"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
</div>