<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
	<h5>站址信息</h5>
	<div plan-site-details item-groups="itemGroups"></div>
	<div ng-show="eNodebGroups">
		<h5>BBU信息</h5>
		<div plan-site-details item-groups="eNodebGroups"></div>
	</div>
	<h5>小区信息</h5>
	<div lte-cell-table items="cellList" begin-date="beginDate" end-date="endDate"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
</div>