<h3 class="text-primary">支撑保障项目名称：{{item.projectName}}</h3>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>项目编号</td>
        <td>{{item.serialNumber}}</td>
        <td>项目级别</td>
        <td>{{item.demandLevelDescription}}</td>
        <td>涉及网络</td>
        <td>{{item.networkTypeDescription}}</td>
    </tr>
    <tr>
        <td>营销主题</td>
        <td>
            <select class="form-control" ng-model="marketTheme.selected" ng-options="c as c for c in marketTheme.options"></select>
        </td>
        <td>需求部门</td>
        <td>{{item.department}}</td>
        <td>保障区域</td>
        <td>{{item.area}}</td>
    </tr>
    <tr>
        <td>需求联系人</td>
        <td>{{item.contactPerson}}</td>
        <td>联系人电话</td>
        <td>{{item.phoneNumber}}</td>
        <td>受理时间</td>
        <td>{{item.beginDate | date: 'yyyy-MM-dd'}}</td>
    </tr>
    <tr>
        <td>计划完成时间</td>
        <td>{{item.planDate | date: 'yyyy-MM-dd'}}</td>
        <td>区域</td>
        <td>{{item.district}}</td>
        <td>镇区</td>
        <td>{{item.town}}</td>
    </tr>
    </tbody>
</table>
<form name="signup_form" novalidate class="row form-horizontal">
    <div class="col-md-5">
        <label>处理信息：</label>
        <textarea class="form-control" rows="5" ng-required="true" ng-model="item.finishResults" form-field-error></textarea>
    </div>
    <div class="col-md-7">
        <label> 回单信息：</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-required="true" ng-model="item.processInfo" form-field-error/>
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="save()" ng-disabled="signup_form.$invalid">保存信息</button>
            </span>
        </div>
        <div class="input-group">
            <label>当前状态：</label>
            <div vip-process-state state="item.vipStateDescription"></div>
            <label>下一状态：</label>
            <div vip-process-state state="item.nextStateDescription"></div>
        </div>

        <label>处理信息：</label>
        <div class="input-group">
            <input type="text" ng-model="processInfo" class="form-control" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="createProcess()" ng-disabled="!canGoNextStep">
                    生成流程
                </button>
            </span>
        </div>
    </div>
</form>

