<div class="row">
    <div class="col-md-3" ng-show="sideBarShown">
        <div ng-include="'/appViews/GeneralMenu.html'"></div>
    </div>
    <div ng-class="{'col-md-9': sideBarShown, 'col-md-12': !sideBarShown}">
        <h3>{{page.title}}</h3>
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    <link href="~/Content/themes/test/ui-grid.css" rel="stylesheet"/>
    <script src="~/Scripts/angular-ui/csv.js"></script>
    <script src="~/Scripts/angular-ui/pdfmake.js"></script>
    <script src="~/Scripts/angular-ui/vfs_fonts.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/route.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/qunit.index.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/qunit.main.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/legacy.markup.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.filter.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.footer.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.binding.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/cell.class.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.tooltip.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.menu.js"></script>
    <script src="~/Areas/TestPage/Scripts/qunit/grid.template.js"></script>
}