@import "themes/_colors.scss";

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.large {
	font-size: 2em;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
	padding-top: 20px;
}

.map-control-group {
	position: absolute;
	z-index: 1001;
	bottom: auto;
	right: 30px;
	top: 150px;
	left: auto;
}

.tooltip.customClass .tooltip-inner {
	color: $color-dark-red;
	background-color: $color-yellow;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	ul {
		list-style: none;
		text-align: left;
	}
}


.text-muted {
	color: $color-light-gray-blue;
}

.bg-primary .glyphicon-remove { color: $color-gray;}
.bg-primary .glyphicon-remove:hover { color: $color-light-red;}

.no-padding {
	padding: 0; margin: 0;
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}
