/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.large {
  font-size: 2em; }

/* Set padding to display errors that occur during databinding */
.padding-error {
  padding-top: 20px; }

.map-control-group {
  position: absolute;
  z-index: 1001;
  bottom: auto;
  right: 30px;
  top: 150px;
  left: auto; }

.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.text-muted {
  color: #9fadbb; }

.bg-primary .glyphicon-remove {
  color: #5f6468; }

.bg-primary .glyphicon-remove:hover {
  color: #ef4040; }

.no-padding {
  padding: 0;
  margin: 0; }

.dark-overlay {
  background: rgba(0, 0, 0, 0.05);
  text-align: center; }

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 12px; }
  body .content {
    padding-left: 15px;
    padding-right: 15px; }

.active a {
  color: azure;
  font-weight: bold; }

.glyphicon-xl {
  font-size: 6em; }

.glyphicon-l {
  font-size: 3em; }

.glyphicon-m {
  font-size: 1.5em; }

.glyphicon-s {
  font-size: 0.75em; }

.panel-widget {
  padding: 0;
  position: relative; }
  .panel-widget .panel-footer {
    border: 0;
    text-align: center; }
    .panel-widget .panel-footer a {
      color: #999; }
    .panel-widget .panel-footer a:hover {
      color: #666;
      text-decoration: none; }

.panel-blue .panel-body p, .panel-teal .panel-body p, .panel-orange .panel-body p, .panel-red .panel-body p {
  color: rgba(255, 255, 255, 0.8); }

.panel-blue .panel-heading, .panel-teal .panel-heading, .panel-orange .panel-heading, .panel-red .panel-heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.panel-blue .text-muted, .panel-teal .text-muted, .panel-orange .text-muted, .panel-red .text-muted {
  color: rgba(255, 255, 255, 0.5); }

.color-gray {
  color: #5f6468; }

.color-blue {
  color: #30a5ff; }

.color-teal {
  color: #1ebfae; }

.color-orange {
  color: #ffb53e; }

.color-red {
  color: #f9243f; }

.panel-blue {
  background: #30a5ff;
  color: #fff; }
  .panel-blue .panel-body {
    color: #000000; }

.modal-header-blue {
  background-color: #30a5ff; }
  .modal-header-blue .modal-title {
    color: #fff; }
  .modal-header-blue button.close {
    color: #ffffff; }

.panel-teal {
  background: #1ebfae;
  color: #fff; }
  .panel-teal .panel-body {
    color: #000000; }

.modal-header-teal {
  background-color: #1ebfae; }
  .modal-header-teal .modal-title {
    color: #fff; }
  .modal-header-teal button.close {
    color: #ffffff; }

.panel-orange {
  background: #ffb53e;
  color: #fff; }
  .panel-orange .panel-body {
    color: #000000; }

.modal-header-orange {
  background-color: #ffb53e; }
  .modal-header-orange .modal-title {
    color: #fff; }
  .modal-header-orange button.close {
    color: #ffffff; }

.panel-red {
  background: #f9243f;
  color: #fff; }
  .panel-red .panel-body {
    color: #000000; }

.modal-header-red {
  background-color: #f9243f; }
  .modal-header-red .modal-title {
    color: #fff; }
  .modal-header-red button.close {
    color: #ffffff; }

.panel-widget {
  margin: 0; }

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777; }

.widget-left {
  height: 80px;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.widget-right {
  text-align: left;
  line-height: 1.6em;
  margin: 0px;
  padding: 20px;
  height: 80px;
  color: #999;
  font-weight: 300;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .widget-right .text-muted {
    color: #9fadbb; }
  .widget-right .large {
    color: #5f6468; }

@media (max-width: 768px) {
  .widget-right {
    width: 100%;
    margin: 0;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; } }

@media (max-width: 768px) {
  .widget-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; } }

.chat ul {
  list-style: none;
  margin: -15px;
  padding: 15px; }
  .chat ul li {
    margin-bottom: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #eee; }
    .chat ul li .chat-body p {
      margin: 0; }
  .chat ul li.left .chat-body {
    margin-left: 100px; }
  .chat ul li.right .chat-body {
    margin-right: 100px; }
  .chat ul .glyphicon {
    margin-right: 5px; }

.chat .panel-body {
  overflow-y: scroll;
  height: 300px; }

.chat-body small {
  margin-left: 5px; }

.todo-list-item .glyphicon, .todo-list-item .glyphicon:hover {
  margin-right: 5px; }

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #5f6468; }
  .todo-list .checkbox {
    display: inline-block;
    margin: 0px; }

.todo-list-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px; }
  .todo-list-item a.trash .glyphicon:hover {
    color: #ef4040; }
  .todo-list-item .glyphicon {
    color: #9fadbb; }
  .todo-list-item .glyphicon:hover {
    color: #1b3548; }

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f6f6f6; }

#checkbox {
  margin: 0; }

.infoBoxContent {
  font-size: 12px; }
  .infoBoxContent .title {
    height: 42px;
    width: 272px; }
    .infoBoxContent .title strong {
      font-size: 14px;
      line-height: 42px;
      padding: 0 10px 0 5px; }
    .infoBoxContent .title .price {
      color: #FFFF00; }
  .infoBoxContent .list {
    width: 268px;
    border: solid 1px #4FA5FC;
    border-top: none;
    background: #fff;
    height: 260px; }
    .infoBoxContent .list ul {
      margin: 0;
      padding: 5px;
      list-style: none; }
      .infoBoxContent .list ul li {
        float: left;
        width: 255px;
        border-bottom: solid 1px #4FA5FC;
        padding: 2px 0; }
      .infoBoxContent .list ul .last {
        border: none; }
      .infoBoxContent .list ul img {
        width: 53px;
        height: 42px;
        margin-right: 5px; }
      .infoBoxContent .list ul p {
        padding: 0;
        margin: 0; }
  .infoBoxContent .left {
    float: left; }
  .infoBoxContent .rmb {
    float: right;
    color: #EB6100;
    font-size: 14px;
    font-weight: bold; }
  .infoBoxContent a {
    color: #0041D9;
    text-decoration: none; }

/*!
 * jQuery UI Accordion 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/accordion/#theming
 */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */
  font-size: 100%; }

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto; }

/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default; }

/*!
 * jQuery UI Button 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/button/#theming
 */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none; }

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */ }
  .ui-button .ui-button-text {
    display: block;
    line-height: normal; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px; }

.ui-button-icon-only .ui-icon, .ui-button-icons-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-text-icon-secondary .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px; }

.ui-button-icons-only .ui-button-icon-primary, .ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary {
  left: .5em; }

.ui-button-icons-only .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-text-icon-secondary .ui-button-icon-secondary {
  right: .5em; }

.ui-button-icon-only {
  width: 2.2em; }
  .ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px; }

button.ui-button-icon-only {
  width: 2.4em; }

.ui-button-icons-only {
  width: 3.4em; }

button.ui-button-icons-only {
  width: 3.7em; }

.ui-button-text-only .ui-button-text {
  padding: .4em 1em; }

/* button text element */
.ui-button-text-icon-primary .ui-button-text {
  padding: .4em 1em .4em 2.1em; }

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em; }

.ui-button-text-icons .ui-button-text, .ui-button-text-icon-secondary .ui-button-text {
  padding: .4em 2.1em .4em 1em; }

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em; }

/* button sets */
.ui-buttonset {
  margin-right: 7px; }
  .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em; }

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*!
 * jQuery UI CSS Framework 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */ }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

