@charset "UTF-8";
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.large {
  font-size: 2em; }

/* Set padding to display errors that occur during databinding */
.padding-error {
  padding-top: 20px; }

.map-control-group {
  position: absolute;
  z-index: 1001;
  bottom: auto;
  right: 30px;
  top: 150px;
  left: auto; }

.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.text-muted {
  color: #9fadbb; }

.bg-primary .glyphicon-remove {
  color: #5f6468; }

.bg-primary .glyphicon-remove:hover {
  color: #ef4040; }

.no-padding {
  padding: 0;
  margin: 0; }

.dark-overlay {
  background: rgba(0, 0, 0, 0.05);
  text-align: center; }

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 12px; }
  body .content {
    padding-left: 15px;
    padding-right: 15px; }

.active a {
  color: azure;
  font-weight: bold; }

.glyphicon-xl {
  font-size: 6em; }

.glyphicon-l {
  font-size: 3em; }

.glyphicon-m {
  font-size: 1.5em; }

.glyphicon-s {
  font-size: 0.75em; }

.panel-widget {
  padding: 0;
  position: relative; }
  .panel-widget .panel-footer {
    border: 0;
    text-align: center; }
    .panel-widget .panel-footer a {
      color: #999; }
    .panel-widget .panel-footer a:hover {
      color: #666;
      text-decoration: none; }

.panel-blue .panel-body p, .panel-teal .panel-body p, .panel-orange .panel-body p, .panel-red .panel-body p {
  color: rgba(255, 255, 255, 0.8); }

.panel-blue .panel-heading, .panel-teal .panel-heading, .panel-orange .panel-heading, .panel-red .panel-heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.panel-blue .text-muted, .panel-teal .text-muted, .panel-orange .text-muted, .panel-red .text-muted {
  color: rgba(255, 255, 255, 0.5); }

.color-gray {
  color: #5f6468; }

.color-blue {
  color: #30a5ff; }

.color-teal {
  color: #1ebfae; }

.color-orange {
  color: #ffb53e; }

.color-red {
  color: #f9243f; }

.panel-blue {
  background: #30a5ff;
  color: #fff; }
  .panel-blue .panel-body {
    color: #000000; }

.modal-header-blue {
  background-color: #30a5ff; }
  .modal-header-blue .modal-title {
    color: #fff; }
  .modal-header-blue button.close {
    color: #ffffff; }

.panel-teal {
  background: #1ebfae;
  color: #fff; }
  .panel-teal .panel-body {
    color: #000000; }

.modal-header-teal {
  background-color: #1ebfae; }
  .modal-header-teal .modal-title {
    color: #fff; }
  .modal-header-teal button.close {
    color: #ffffff; }

.panel-orange {
  background: #ffb53e;
  color: #fff; }
  .panel-orange .panel-body {
    color: #000000; }

.modal-header-orange {
  background-color: #ffb53e; }
  .modal-header-orange .modal-title {
    color: #fff; }
  .modal-header-orange button.close {
    color: #ffffff; }

.panel-red {
  background: #f9243f;
  color: #fff; }
  .panel-red .panel-body {
    color: #000000; }

.modal-header-red {
  background-color: #f9243f; }
  .modal-header-red .modal-title {
    color: #fff; }
  .modal-header-red button.close {
    color: #ffffff; }

.panel-widget {
  margin: 0; }

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777; }

.widget-left {
  height: 80px;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.widget-right {
  text-align: left;
  line-height: 1.6em;
  margin: 0px;
  padding: 20px;
  height: 80px;
  color: #999;
  font-weight: 300;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .widget-right .text-muted {
    color: #9fadbb; }
  .widget-right .large {
    color: #5f6468; }

@media (max-width: 768px) {
  .widget-right {
    width: 100%;
    margin: 0;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; } }

@media (max-width: 768px) {
  .widget-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; } }

.chat ul {
  list-style: none;
  margin: -15px;
  padding: 15px; }
  .chat ul li {
    margin-bottom: 10px;
    padding: 15px 5px;
    border-bottom: 1px solid #eee; }
    .chat ul li .chat-body p {
      margin: 0; }
  .chat ul li.left .chat-body {
    margin-left: 100px; }
  .chat ul li.right .chat-body {
    margin-right: 100px; }
  .chat ul .glyphicon {
    margin-right: 5px; }

.chat .panel-body {
  overflow-y: scroll;
  height: 300px; }

.chat-body small {
  margin-left: 5px; }

.todo-list-item .glyphicon, .todo-list-item .glyphicon:hover {
  margin-right: 5px; }

.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #5f6468; }
  .todo-list .checkbox {
    display: inline-block;
    margin: 0px; }

.todo-list-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px; }
  .todo-list-item a.trash .glyphicon:hover {
    color: #ef4040; }
  .todo-list-item .glyphicon {
    color: #9fadbb; }
  .todo-list-item .glyphicon:hover {
    color: #1b3548; }

.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f6f6f6; }

#checkbox {
  margin: 0; }

.infoBoxContent {
  font-size: 12px; }
  .infoBoxContent .title {
    height: 42px;
    width: 272px; }
    .infoBoxContent .title strong {
      font-size: 14px;
      line-height: 42px;
      padding: 0 10px 0 5px; }
    .infoBoxContent .title .price {
      color: #FFFF00; }
  .infoBoxContent .list {
    width: 268px;
    border: solid 1px #4FA5FC;
    border-top: none;
    background: #fff;
    height: 260px; }
    .infoBoxContent .list ul {
      margin: 0;
      padding: 5px;
      list-style: none; }
      .infoBoxContent .list ul li {
        float: left;
        width: 255px;
        border-bottom: solid 1px #4FA5FC;
        padding: 2px 0; }
      .infoBoxContent .list ul .last {
        border: none; }
      .infoBoxContent .list ul img {
        width: 53px;
        height: 42px;
        margin-right: 5px; }
      .infoBoxContent .list ul p {
        padding: 0;
        margin: 0; }
  .infoBoxContent .left {
    float: left; }
  .infoBoxContent .rmb {
    float: right;
    color: #EB6100;
    font-size: 14px;
    font-weight: bold; }
  .infoBoxContent a {
    color: #0041D9;
    text-decoration: none; }

/*!
 * jQuery UI Accordion 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/accordion/#theming
 */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */
  font-size: 100%; }

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto; }

/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default; }

/*!
 * jQuery UI Button 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/button/#theming
 */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none; }

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */ }
  .ui-button .ui-button-text {
    display: block;
    line-height: normal; }

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px; }

.ui-button-icon-only .ui-icon, .ui-button-icons-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-text-icon-secondary .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px; }

.ui-button-icons-only .ui-button-icon-primary, .ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary {
  left: .5em; }

.ui-button-icons-only .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-text-icon-secondary .ui-button-icon-secondary {
  right: .5em; }

.ui-button-icon-only {
  width: 2.2em; }
  .ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px; }

button.ui-button-icon-only {
  width: 2.4em; }

.ui-button-icons-only {
  width: 3.4em; }

button.ui-button-icons-only {
  width: 3.7em; }

.ui-button-text-only .ui-button-text {
  padding: .4em 1em; }

/* button text element */
.ui-button-text-icon-primary .ui-button-text {
  padding: .4em 1em .4em 2.1em; }

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em; }

.ui-button-text-icons .ui-button-text, .ui-button-text-icon-secondary .ui-button-text {
  padding: .4em 2.1em .4em 1em; }

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: .4em 1em; }

/* button sets */
.ui-buttonset {
  margin-right: 7px; }
  .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em; }

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*!
 * jQuery UI CSS Framework 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */ }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */ }

.ui-front {
  z-index: 100; }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cloudmap-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #b0b6be; }

div#contentWrapper {
  overflow: hidden;
  position: relative;
  float: left; }

.cloudmap-baiduwrapper {
  overflow: hidden;
  position: relative;
  border-left: 1px solid #b0b6be;
  text-align: left; }

.cloudmap-tools {
  border-bottom: 1px solid #e6e7ea;
  width: 100%;
  height: 35px;
  background-color: #f9f9fb; }

.cloudmap-select-city {
  height: 22px;
  line-height: 22px;
  padding-left: 15px; }

.cloudmap-city-name {
  color: #333333;
  font-weight: 700;
  cursor: pointer; }
  .cloudmap-city-name:hover {
    color: #3977d2; }

.cloudmap-search-city {
  margin-bottom: 20px; }

.cloudmap-search-b {
  background-image: url(../../images/Hotmap/map_u7.png);
  background-repeat: no-repeat;
  width: 49px;
  height: 24px;
  margin-left: 5px;
  margin-top: 8px;
  cursor: pointer; }

.cloudmap-search-b:hover {
  background-image: url(../../images/Hotmap/map_u8.png);
  background-repeat: no-repeat; }

.index-s {
  height: 35px;
  width: 250px;
  float: left; }

.index-s-1 {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  width: 162px;
  height: 21px;
  margin-left: 10px;
  color: #a6a6a6;
  text-indent: 3px; }

.index-s-2 {
  background-image: url(../../images/Hotmap/map_u2.png?111);
  background-repeat: no-repeat;
  width: 48px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer; }

.index-s-2:hover {
  background-image: url(../../images/Hotmap/map_u3.png); }

.index-x {
  margin-left: 12px;
  margin-right: 12px;
  background-color: #ffffff;
  cursor: pointer; }

.index-x:hover {
  background-color: #fafafa; }

.index-x-1 {
  width: 197px;
  height: 87px;
  margin: 0 auto;
  padding-top: 18px; }

.index-x-1-bg {
  background-color: #49a7da;
  width: 16px;
  height: 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  float: left; }

.index-x-1-w {
  color: #3d6dcc;
  line-height: 16px;
  text-indent: 8px; }

.index-x-bottom {
  color: #000000;
  font-size: 14px;
  padding-top: 10px;
  margin: 0 auto;
  width: 197px; }

.index-x-bottom ul {
  margin: 0px;
  padding: 0px; }

.index-x-bottom li {
  list-style: none;
  float: left;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  margin-left: 4px; }

.f-zt {
  font-weight: bold;
  width: 20px;
  height: 20px;
  background-color: #ffffff; }

.f-wz-a {
  color: #0000cc;
  background-color: #ffffff;
  border: 1px solid #e7ecf0;
  width: 20px;
  height: 20px; }

.f-wz-a:hover {
  background-color: #e8f1f6; }

.map-w {
  background-color: #ffffff;
  padding: 7px;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 0px;
  position: absolute; }

.map-w ul {
  padding: 0px;
  margin: 0px; }

.map-w li {
  list-style: none;
  float: left;
  margin-right: 1px; }

.map-w-1 {
  padding: 5px; }

.map-w-2 {
  padding: 5px;
  background-color: #FF0000;
  color: #ffffff;
  border: 1px solid #FF0000;
  cursor: pointer; }

.legend-item-wrapper {
  position: absolute;
  height: 45px;
  top: -39px;
  left: 22px; }

.legend-item-tip {
  position: relative;
  border: 1px solid #ACB2BB;
  color: #333333;
  white-space: nowrap;
  padding: 6px 14px 6px 79px;
  width: 140px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-image: url(../../images/Hotmap/map_wfg.png);
  background-repeat: no-repeat;
  background-position: 14px 50%;
  text-indent: 60px; }

.legend-item-tip-arrow {
  background-image: url(../../images/Hotmap/map_u9.png);
  background-repeat: no-repeat;
  width: 7px;
  height: 5px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 38px; }

.map-w-3 {
  padding: 5px;
  background-color: #FF6600;
  color: #ffffff;
  border: 1px solid #FF6600;
  cursor: pointer; }

.map-w-4 {
  padding: 5px;
  background-color: #FFF21F;
  color: #ffffff;
  border: 1px solid #FFF21F;
  cursor: pointer; }

.map-w-5 {
  padding: 5px;
  background-color: #2DFF3B;
  color: #ffffff;
  border: 1px solid #2DFF3B;
  cursor: pointer; }

.map-w-6 {
  padding: 5px;
  background-color: #7ED354;
  color: #ffffff;
  border: 1px solid #7ED354;
  cursor: pointer; }

.map-w-7 {
  padding: 5px;
  background-color: #00B354;
  color: #ffffff;
  border: 1px solid #00B354;
  cursor: pointer; }

.map-w-i {
  padding: 5px;
  color: #ffffff;
  cursor: pointer; }

.map-z {
  background-color: #ffffff;
  padding: 7px;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
  position: absolute; }

.map-z-1 {
  overflow: hidden; }

.map-z-1-left {
  background-color: #ffffff;
  border: 1px solid #acb2bb;
  padding: 5px 10px;
  color: #000000;
  float: left;
  cursor: pointer;
  margin-right: 4px; }

.map-z-1-left:hover {
  background-color: #278df2;
  color: #ffffff; }

.map-z-2 {
  top: 32px;
  right: 0px;
  width: 295px;
  overflow: hidden;
  padding: 13px;
  margin-top: 15px;
  border: 1px solid #acb2bb;
  position: absolute;
  background-color: #ffffff; }

.map-z-btn {
  font-size: 14px;
  font-weight: 700;
  color: #000000; }

.map-z-btn-a {
  font-weight: normal;
  font-size: 12px; }

.map-z-2-a {
  overflow: hidden; }

.map-x-time {
  width: 252px;
  float: left; }

.map-z-bar {
  width: 252px;
  height: 14px;
  background-image: url(../../images/Hotmap/map_u4.png);
  background-repeat: no-repeat;
  margin-top: 10px;
  position: relative; }

.map-z-shu {
  top: -5px;
  width: 16px;
  height: 16px;
  background-image: url(../../images/Hotmap/map_u5.png);
  background-repeat: no-repeat;
  position: absolute; }

.map-z-sz {
  left: -9px;
  width: 270px;
  margin-top: -3px;
  overflow: hidden;
  position: relative; }

.map-z-sz-a {
  width: 12.5%;
  padding-top: 7px;
  text-align: center;
  float: left; }

.map-icon {
  width: 33px;
  height: 33px;
  background-image: url(../../images/Hotmap/map_u6.png);
  background-repeat: no-repeat;
  cursor: pointer;
  float: right; }

.map-cesuo {
  background-image: url(../../images/Hotmap/map_u10.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 51px;
  margin-top: 35%;
  cursor: pointer; }

.map-cesuo:hover {
  background-image: url(../../images/Hotmap/map_u11.png);
  background-repeat: no-repeat; }

.rel_tc {
  background-image: url(../../images/Hotmap/re_tc.png);
  background-repeat: no-repeat;
  width: 422px;
  height: 135px;
  font-size: 12px; }

.rel_top {
  height: 90px; }

.rel_top_left {
  float: left; }

.rel_top_left ul {
  margin: 0px;
  padding-left: 12px;
  padding-top: 15px; }

.rel_top_left li {
  list-style: none;
  margin-top: 8px;
  color: #2a93fe; }

.rel_xl {
  width: 130px;
  height: 24px;
  border: 1px solid #70b6fe; }

.rel_wbn {
  width: 126px;
  height: 20px;
  border: 1px solid #70b6fe; }

.rel_bottom {
  margin-left: 134px;
  margin-top: 2px; }

.rel_bottom_qd {
  background-image: url(../../images/Hotmap/re_qd.png);
  background-repeat: no-repeat;
  width: 61px;
  height: 26px;
  cursor: pointer;
  float: left; }

.rel_bottom_qd:hover {
  background-image: url(../../images/Hotmap/re_qd_1.png); }

.rel_bottom_qx {
  background-image: url(../../images/Hotmap/re_qx.png);
  background-repeat: no-repeat;
  width: 61px;
  height: 26px;
  cursor: pointer;
  float: left;
  margin-left: 12px; }

.rel_bottom_qx:hover {
  background-image: url(../../images/Hotmap/re_qx_1.png); }

.rel_small {
  background-image: url(../../images/Hotmap/re_small_bg.png);
  background-repeat: no-repeat;
  width: 178px;
  height: 62px;
  font-size: 12px; }

.rel_small_a {
  margin-top: 10px;
  float: left;
  margin-left: 15px; }

.icon_lsn {
  background-image: url(../../images/Hotmap/icon_ls.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_lsn:hover {
  background-image: url(../../images/Hotmap/icon_ls_1.png); }

.icon_tcn {
  background-image: url(../../images/Hotmap/icon_tc.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_tcn:hover {
  background-image: url(../../images/Hotmap/icon_tc_1.png); }

.icon_jzd {
  background-image: url(../../images/Hotmap/icon_jzdd.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_jzd:hover {
  background-image: url(../../images/Hotmap/icon_jzdd_1.png); }

.icon_jzd2 {
  background-image: url(../../images/Hotmap/icon_jzdd_2.png?111);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_qxd {
  background-image: url(../../images/Hotmap/icon_qxdd.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_qxd:hover {
  background-image: url(../../images/Hotmap/icon_qxdd_1.png); }

.icon_map {
  background-image: url(../../images/Hotmap/icon_ls.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.layer_show {
  position: absolute;
  left: 20%;
  top: 10%;
  background: #fff;
  border: 1px solid #a8c0ef;
  font-size: 12px;
  width: 300px; }

.layer_show > h3 {
  background: #a8c0ef;
  color: #174c81;
  line-height: 28px;
  margin: 0;
  padding: 0 12px;
  font-weight: normal;
  font-size: 12px; }

.layer_show > h3 > a {
  cursor: pointer;
  color: #039;
  float: right; }

.layer_show p {
  border: 5px solid #fff;
  background: url(../../images/Hotmap/site_bl.png) left no-repeat;
  line-height: 26px;
  padding: 2px 0 2px 28px;
  margin: 4px;
  cursor: default; }

.layer_show p:hover {
  border: 5px solid #f4f4f4;
  background: url(../../images/Hotmap/site_or.png) left no-repeat #f4f4f4; }

.layer_show p a {
  background: url(../../images/Hotmap/site_certen.png);
  display: none;
  cursor: pointer;
  float: right;
  width: 45px;
  height: 26px; }

.layer_show p:hover a {
  display: block; }

.layer_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.5; }

.scoll_div {
  max-height: 300px;
  overflow: auto; }

.right-panel {
  position: absolute;
  z-index: 1001;
  bottom: auto;
  right: 10px;
  top: 10px;
  left: auto; }

.icon_qp {
  background-image: url(../../Images/Hotmap/icon_qp.png);
  background-repeat: no-repeat;
  width: 70px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_qp:hover {
  background-image: url(../../Images/Hotmap/icon_qp_1.png); }

.icon_tcqp {
  background-image: url(../../Images/Hotmap/icon_tcqp.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 25px;
  cursor: pointer;
  float: left; }

.icon_tcqp:hover {
  background-image: url(../../Images/Hotmap/icon_tcqp_1.png); }

#time-control-btns {
  overflow: hidden; }

.time-control-btn {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #acb2bb;
  background: #fff;
  color: #000;
  text-decoration: none; }

.time-control-btn.active {
  background: #278df2;
  color: #fff; }

#time-panel {
  background: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFF, endColorstr=#CCFFFF);
  border: 1px solid #acb2bb;
  padding: 13px;
  margin-top: 5px;
  width: 295px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  right: 0;
  display: none; }

.time-panel-title {
  font-weight: 700;
  font-size: 14px; }
  .time-panel-title .time-panel-time {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px; }

.time-panel-control {
  overflow: hidden; }

.time-panel-progress-container {
  float: left;
  width: 252px; }

.time-panel-progress-bar {
  width: 100%;
  height: 8px;
  position: relative;
  margin-top: 10px; }

.time-panel-progress-text {
  overflow: hidden;
  margin-top: -3px;
  width: 100%;
  position: relative; }

.time-panel-progress-tick {
  float: left;
  background: url(Images/TimeControl/tick.png) no-repeat 50% 0;
  padding-top: 7px;
  width: 12.5%;
  text-align: center;
  *width: 12.4%;
  cursor: pointer; }

.time-panel-week .time-panel-progress-tick {
  width: 14.28%;
  *width: 14.2%; }

.time-panel-progress {
  background: url(Images/TimeControl/time-progress.png) no-repeat 0 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -5px;
  left: 0; }

.time-panel-btn {
  background: url(Images/TimeControl/time-btn-pause.png) no-repeat 0 0;
  width: 33px;
  height: 33px;
  float: right;
  cursor: pointer; }

.time-panel-btn.play {
  background: url(Images/TimeControl/time-btn-play.png) no-repeat 0 0; }

#time-control {
  font: 12px arial,����,sans-serif;
  position: absolute;
  z-index: 1001;
  bottom: auto;
  right: 10px;
  top: 10px;
  left: auto; }

.map-ztian {
  background-color: #ffffff;
  border: 1px solid #acb2bb;
  width: 86px;
  height: 25px;
  float: left;
  margin-right: 4px; }

.map-ztian-1 {
  text-decoration: none;
  width: 43px;
  height: 25px;
  background-color: #ffffff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  float: left; }

.map-ztian-1:hover {
  background-color: #acb2bb;
  color: #ffffff; }

.map-ztian-2 {
  text-decoration: none;
  width: 43px;
  height: 25px;
  background-color: #278df2;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  float: left; }

.map-k-time-1 {
  width: 190px;
  height: 28px;
  color: #ffffff;
  background-color: #acb2bb;
  float: left;
  line-height: 28px;
  text-indent: 5px;
  margin-right: 4px; }

.map-k-time-2 {
  background-color: #ffffff;
  border: 1px solid #acb2bb;
  width: 121px;
  height: 24px;
  color: #a6a6a6; }

.map-k-time-3 {
  width: 90px;
  height: 28px;
  color: #ffffff;
  background-color: #acb2bb;
  line-height: 28px;
  float: left;
  text-indent: 5px; }

.map-k-time-4 {
  background-color: #ffffff;
  border: 1px solid #acb2bb;
  width: 48px;
  height: 28px;
  color: #a6a6a6;
  float: right; }

.map-k-time {
  display: none; }

#body.help-page, .help-page h1, .help-page .h1, .help-page h2, .help-page .h2, .help-page h3, .help-page .h3, .help-page-table th, .help-page-table pre, .help-page-table p {
  font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; }

.help-page-table pre, .help-page-table p {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  font-size: 100%; }

#body.help-page {
  font-size: 14px;
  line-height: 143%;
  color: #333; }

.help-page pre.wrapped {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap; }

.help-page .warning-message-container {
  margin-top: 20px;
  padding: 0 10px;
  color: #525252;
  background: #EFDCA9;
  border: 1px solid #CCCCCC; }

.help-page h1, .help-page .h1 {
  font-size: 36px;
  line-height: normal; }

.help-page h2, .help-page .h2 {
  font-size: 24px; }

.help-page h3, .help-page .h3 {
  font-size: 20px; }

.help-page a {
  color: #0000EE;
  text-decoration: none; }
  .help-page a:hover {
    background-color: transparent; }

.help-page .sample-header {
  border: 2px solid #D4D4D4;
  background: #00497E;
  color: #FFFFFF;
  padding: 8px 15px;
  border-bottom: none;
  display: inline-block;
  margin: 10px 0px 0px 0px; }

.help-page .sample-content {
  display: block;
  border-width: 0;
  padding: 15px 20px;
  background: #FFFFFF;
  border: 2px solid #D4D4D4;
  margin: 0px 0px 10px 0px; }

.help-page .api-name {
  width: 40%; }

.help-page .api-documentation {
  width: 60%; }

.help-page .parameter-name {
  width: 20%; }

.help-page .parameter-documentation {
  width: 40%; }

.help-page .parameter-type {
  width: 20%; }

.help-page .parameter-annotations {
  width: 20%; }

.help-page-table th, .help-page-table td {
  border-bottom: 1px solid #D4D4D4; }

.help-page-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 0px 0px 20px 0px;
  border-top: 1px solid #D4D4D4; }
  .help-page-table th {
    font-weight: bold;
    padding: 5px 6px 5px 6px; }
  .help-page-table td {
    padding: 10px 8px 10px 8px;
    vertical-align: top; }
  .help-page-table tbody tr:hover td {
    background-color: #F3F3F3; }

