@{
    ViewBag.Title = "校园网专题";
}

<div class="row">
    <div ui-view></div>
</div>

@section Scripts {
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script src="~/Scripts/baidu/plugins/GeoUtils.js"></script>
    <script src="~/Scripts/college/route.controller.js"></script>
}

