@{
    ViewBag.Title = "4G流量导入";
}

<h3 class="text text-primary"><strong>@ViewBag.Title</strong></h3>
<div class="row">
    <div class="col-md-6">
        @{
            Html.RenderPartial("_AlertPanel");
            using (Html.BeginForm("HwFlowPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">华为流量统计导入：</label>
                    <div class="col-md-6">
                        <input name="flowHw" class="form-control" type="file" multiple accept=".csv" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
            using (Html.BeginForm("ZteFlowPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">中兴流量统计导入：</label>
                    <div class="col-md-6">
                        <input name="flowZte" class="form-control" type="file" multiple accept=".csv" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
            using (Html.BeginForm("ZteNeighborPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">AGIS路测点导入：</label>
                    <div class="col-md-6">
                        <input name="neighborZte" class="form-control" type="file" multiple accept=".txt" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
            using (Html.BeginForm("HwNeighborPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">MR栅格信息导入：</label>
                    <div class="col-md-6">
                        <input name="neighborHw" class="form-control" type="file" multiple accept=".kml" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
            using (Html.BeginForm("WebBrowsingPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">网页浏览APP信息导入：</label>
                    <div class="col-md-6">
                        <input name="webBrowsing" class="form-control" type="file" multiple accept=".csv" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
            using (Html.BeginForm("StreamingPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">视频APP信息导入：</label>
                    <div class="col-md-6">
                        <input name="streaming" class="form-control" type="file" multiple accept=".csv" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>导入
                        </button>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-6" ng-controller="neighbor.import">
        <h4>华为流量</h4>
        <button class="btn btn-primary" ng-click="dumpHuaweiItems()" ng-disabled="huaweiInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearHuaweiItems()" ng-disabled="huaweiInfo.totalDumpItems === 0">
            清除导入
        </button>
        总数：{{huaweiInfo.totalDumpItems}}&nbsp;
        成功数：{{huaweiInfo.totalSuccessItems}}&nbsp;
        失败数：{{huaweiInfo.totalFailItems}}
        <div uib-progress>
            <div uib-bar value="100*huaweiInfo.totalSuccessItems / huaweiInfo.totalDumpItems" type="success">
                <span ng-show="100*huaweiInfo.totalSuccessItems / huaweiInfo.totalDumpItems > 5">
                    {{100*huaweiInfo.totalSuccessItems / huaweiInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
            <div uib-bar value="100*huaweiInfo.totalFailItems / huaweiInfo.totalDumpItems" type="erroe">
                <span ng-show="100*huaweiInfo.totalFailItems / huaweiInfo.totalDumpItems > 5">
                    {{100*huaweiInfo.totalFailItems / huaweiInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
        </div>
        <h4>中兴流量</h4>
        <button class="btn btn-primary" ng-click="dumpZteItems()" ng-disabled="zteInfo.totalDumpItems === 0">
            一键导入
        </button>
        <button class="btn btn-danger" ng-click="clearZteItems()" ng-disabled="zteInfo.totalDumpItems === 0">
            清除导入
        </button>
        总数：{{zteInfo.totalDumpItems}}&nbsp;
        成功数：{{zteInfo.totalSuccessItems}}&nbsp;
        失败数：{{zteInfo.totalFailItems}}
        <div uib-progress>
            <div uib-bar value="100*zteInfo.totalSuccessItems / zteInfo.totalDumpItems" type="success">
                <span ng-show="100*zteInfo.totalSuccessItems / zteInfo.totalDumpItems > 5">
                    {{100*zteInfo.totalSuccessItems / zteInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
            <div uib-bar value="100*zteInfo.totalFailItems / zteInfo.totalDumpItems" type="erroe">
                <span ng-show="100*zteInfo.totalFailItems / zteInfo.totalDumpItems > 5">
                    {{100*zteInfo.totalFailItems / zteInfo.totalDumpItems | number: 2}}%
                </span>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>华为数量</th>
                    <th>华为RRC数量</th>
                    <th>中兴数量</th>
                    <th>中兴RRC记录</th>
                    <th>镇区统计</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in dumpHistory">
                    <td>{{stat.dateString}}</td>
                    <td>{{stat.huaweiItems}}</td>
                    <td>{{stat.huaweiRrcs}}</td>
                    <td>{{stat.zteItems}}</td>
                    <td>{{stat.zteRrcs}}</td>
                    <td>{{stat.townStats}}</td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>







@section Scripts{
    <script src="~/Scripts/parameters/neighbor/import.controller.js"></script>
}