<table class="table table-hover">
    <thead>
        <tr>
            <th>日期</th>
            <th>MR总数</th>
            <th>MOD3干扰比例</th>
            <th>MOD6干扰比例</th>
            <th>弱覆盖比例</th>
            <th>过覆盖比例</th>
            <th>精确覆盖率</th>
            <th>查询</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cell in coverageList">
            <td>{{cell.currentDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{cell.mrCount}}</td>
            <td>{{cell.mod3Count * 100 / cell.mrCount | number: 2}}%</td>
            <td>{{cell.mod6Count * 100 / cell.mrCount | number: 2}}%</td>
            <td>{{cell.weakCoverCount * 100 / cell.mrCount | number: 2}}%</td>
            <td>{{cell.overCoverCount * 100 / cell.mrCount | number: 2}}%</td>
            <td>{{cell.preciseCount * 100 / cell.mrCount | number: 2}}%</td>
            <td style="min-width:200px">
                <div class="btn-group-sm">
                    <button class="btn btn-sm btn-default" ng-click="showDetails(cell.currentDate)">详情</button>
                    <button class="btn btn-sm btn-default" ng-click="analyzeTa(cell.currentDate)">TA分析</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
