<h4>{{eNodebName}}告警查询</h4>
<div class="row">
    <div class="col-md-6">
        <div date-span-column begin-date="beginDate" end-date="endDate"></div>
    </div>
    <div class="col-md-6">
        <label>告警等级：</label>
        <div class="input-group">
            <select ng-model="alarmLevel.selected" class="form-control" ng-options="level for level in alarmLevel.options"></select>
            <span class="input-group-btn">
                <button class="btn btn-success" ng-click="searchAlarms()">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </span>
        </div>
    </div>
</div>
<div alarm-table alarms="alarms"></div>
