<div uib-pagination total-items="eNodebList.length" ng-model="currentPage" max-size="10"
     class="pagination-sm" boundary-link-numbers="true" rotate="false"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>LTE基站编号</th>
            <th>基站名称</th>
            <th>规划编号</th>
            <th>入网日期</th>
            <th>地址</th>
            <th>经度</th>
            <th>纬度</th>
            <th>查询</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="eNodeb in eNodebList.slice((currentPage - 1) * 10, currentPage * 10)">
            <td>{{eNodeb.eNodebId}}</td>
            <td>{{eNodeb.name}}</td>
            <td>{{eNodeb.planNum}}</td>
            <td>{{eNodeb.openDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{eNodeb.address}}</td>
            <td>{{eNodeb.longtitute}}</td>
            <td>{{eNodeb.lattitute}}</td>
            <td>
                <div class="btn-group-sm" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-sm btn-default"
                            uib-dropdown-toggle ng-disabled="disabled">
                        查询 <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <a ng-href="{{rootPath}}eNodebInfo/{{eNodeb.eNodebId}}/{{eNodeb.name}}"
                               class="btn btn-sm" ng-class="{'btn-default': !eNodeb.isInUse, 'btn-success': eNodeb.isInUse}">详细信息</a>
                        </li>
                        <li role="menuitem">
                            <a ng-href="{{rootPath}}alarm/{{eNodeb.eNodebId}}/{{eNodeb.name}}" ng-show="eNodeb.isInUse"
                               class="btn btn-sm btn-default">告警查询</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>