<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="row">
        <span class="col-md-2">选择网络</span>
        <select class="col-md-2" ng-model="network.selected" ng-options="n as n for n in network.options"></select>
        <span class="col-md-2">城市</span>
        <select class="col-md-2" ng-model="city.selected" ng-options="c as c for c in city.options" ng-change="updateDistricts()"></select>
        <span class="col-md-2">区域</span>
        <select class="col-md-2" ng-model="district.selected" ng-options="d as d for d in district.options" ng-change="updateTowns()"></select>
        <span class="col-md-2">镇区</span>
        <select class="col-md-2" ng-model="town.selected" ng-options="t as t for t in town.options"></select>
        <span class="col-md-3">模糊查询</span>
        <input class="col-md-6" ng-model="queryText" />
        <button class="col-md-3 btn btn-primary" ng-click="queryItems()"></button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>

