<div ng-controller="home.kpi2G" ng-init="max = 5; isReadonly = true">
    <p>统计日期：{{statDate.value | date: "yyyy年MM月dd日"}}</p>
    <p>
        掉话率：{{dropRate | number: 2}}%
        <div uib-rating aria-labelledby="default-rating" ng-model="dropStar" max="max" read-only="isReadonly"
             uib-tooltip-template="'dropTooltipTemplate.html'" tooltip-class="customClass" tooltip-placement="bottom"></div>
    </p>
    <p>连接成功率：{{connectionRate | number: 2}}%</p>
    <script type="text/ng-template" id="dropTooltipTemplate.html">
        <h6>掉话率星级定义</h6>
        <ul>
            <li ng-repeat="rating in dropRating">
                <strong>{{dropRating.length-$index}}星：</strong>
                掉话率小于0.2%
                <span ng-if="!$first">且大于等于{{dropRating[$index-1]}}%</span>
            </li>
            <li><strong>0星：</strong>掉话率大于等于{{dropRating[dropRating.length-1]}}%</li>
        </ul>
    </script>
</div>