<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>

<div class="modal-body form-horizontal">
    <input type="file" id="file"/>
    <button class="btn btn-default" type="button" ng-click="stationImport()">站点导入</button>
    <button class="btn btn-default" type="button" ng-click="indoorImport()">室分导入</button>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">关闭窗口</button>
</div>