<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">站址ID</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.StationId}}</span>
        </div>
        <label class="col-sm-3 control-label">交维日期</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IntersectionDate}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">站址名称</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.StationName}}</span>
        </div>
        <label class="col-sm-3 control-label">区域</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.AreaName}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">镇区</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.Town}}</span>
        </div>
        <label class="col-sm-3 control-label">机房</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.EngineRoom}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">机房类型</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.StationType}}</span>
        </div>
        <label class="col-sm-3 control-label">系统站址ID</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.SysStationId}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">安装地址</label>
        <div class="col-sm-9">
            <span class="form-control">{{station.InstallAddr}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">经度</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.longtitute}}</span>
        </div>
        <label class="col-sm-3 control-label">纬度</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.lattitute}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">机房归属</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.RoomAttribution}}</span>
        </div>
        <label class="col-sm-3 control-label">是否新建机房</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IsNewRoom}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">铁塔编号</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.TowerCode}}</span>
        </div>
        <label class="col-sm-3 control-label">铁塔类型</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.TowerType}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">铁塔高度</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.TowerHeight}}</span>
        </div>
        <label class="col-sm-3 control-label">铁塔归属</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.TowerAttribution}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">是否新建铁塔</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IsNewTower}}</span>
        </div>
        <label class="col-sm-3 control-label">属地性质</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.AttributionNature}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">是否简易机房</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IsSimple}}</span>
        </div>
        <label class="col-sm-3 control-label">是否高危站点</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IsDangerous}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">网络类型</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.NetType}}</span>
        </div>
        <label class="col-sm-3 control-label">CL网是否共用天线</label>
        <div class="col-sm-3">
            <span class="form-control">{{station.IsShare}}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">关闭窗口</button>
</div>
