@{
    ViewBag.Title = "优化工作";
}

<div class="cloudmap-baiduwrapper">
    <div id="map" style="width: 100%;height: 600px;overflow: hidden;margin:0;"></div>
    <div class="map-top-right">
        <div ui-view="contents"></div>
    </div>
    <div class="map-top-left">
        <div ui-view="menu"></div>
    </div>
    <div class="map-w">
        <button uib-popover-template="'/appViews/Home/DatePopoverInput.html'" popover-title="日期设定" popover-placement="top-right"
                type="button" class="btn btn-success btn-sm">
            日期设定
        </button>
    </div>
    
</div>

@section Scripts{
    <script src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
<script src="~/Scripts/baidu/plugins/baidu.tangram.js"></script>
    <script src="~/Scripts/baidu/plugins/Heatmap_min.js"></script>
    <script src="~/Scripts/app/home.viewmodel.js"></script>
}