@{
    ViewBag.Title = "优化工作";
}

<div class="cloudmap-baiduwrapper">
    <div id="map" style="width: 100%;height: 600px;overflow: hidden;margin:0;"></div>
    <div id="time-control">
        <div id="time-control-btns">
            <div ui-view="menu"></div>
            <div ui-view="contents"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <script src="~/Scripts/app/home.viewmodel.js"></script>
}