@{
    ViewBag.Title = "指标文件导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <h4>指标文件选择</h4>
                @using (Html.BeginForm("KpiImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="每日KPI Excel文件选择：" tag="dailyKpi"></div>
                }
                @using (Html.BeginForm("SwitchImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="4G用户3G流量比文件选择：" tag="downSwitch"></div>
                }
                @using (Html.BeginForm("VipDemandImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="政企客户需求文件选择：" tag="vipDemand"></div>
                }
                @using (Html.BeginForm("ComplainImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="抱怨量工单文件选择：" tag="complain"></div>
                }
                @using (Html.BeginForm("BranchImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="分公司需求文件选择：" tag="branch"></div>
                }
                @using (Html.BeginForm("OnlineImport", "Kpi",
                    FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
                {
                    <div dump-file-selector file-title="在线支撑文件选择：" tag="online"></div>
                }
            </div>
            <div class="col-md-5">
                @{Html.RenderPartial("_AlertPanel");}
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        angular.module("myApp", ['app.common']);
    </script>
}
