<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body form-horizontal">
    <div date-span-row begin-date="itemBeginDate" end-date="itemEndDate"></div>
    <div district-town-selection city="city" district="district" town="town"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">项目级别</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="demandLevel.selected" ng-options="c as c for c in demandLevel.options"></select>
        </div>
        <label class="col-sm-2 control-label">通信车类型</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="vehicularType.selected" ng-options="c as c for c in vehicularType.options"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">项目名称</label>
        <div class="col-sm-10">
            <input ng-model="dto.projectName" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">预计规模（人数）</label>
        <div class="col-sm-4">
            <input ng-model="dto.expectedPeople" class="form-control"/>
        </div>
        <label class="col-sm-2 control-label">通信车数量</label>
        <div class="col-sm-4">
            <input ng-model="dto.vehicles" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">传输方式</label>
        <div class="col-sm-4">
            <input ng-model="dto.transmitFunction" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">供电方式</label>
        <div class="col-sm-4">
            <input ng-model="dto.electricSupply" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">保障区域</label>
        <div class="col-sm-4">
            <input ng-model="dto.area" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">需求部门</label>
        <div class="col-sm-4">
            <input ng-model="dto.department" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">需求联系人</label>
        <div class="col-sm-4">
            <input ng-model="dto.person" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">联系人电话</label>
        <div class="col-sm-4">
            <input ng-model="dto.phone" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">通信车位置</label>
        <div class="col-sm-10">
            <input ng-model="dto.vehicleLocation" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">任务描述（重要性）</label>
        <div class="col-sm-10">
            <textarea rows="3" class="form-control" ng-model="dto.otherDescription"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">保存信息</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">放弃保存</button>
</div>
