
$color-gray: #5f6468;
$color-blue: #30a5ff;
$color-teal: #1ebfae;
$color-teal-lighten90: lighten($color-teal, 10%);
$color-orange: #ffb53e;
$color-orange-dark110: darken($color-orange, 10%);
$color-red: #f9243f;
$color-dark-gray: #333333;
$color-light-gray: #F3F3F3;
$color-blue-azure: #3977d2;
$color-light-yellow: #00497E;
