@import "_colors.scss";

@mixin panel-def($color) {
    background: $color; 
    color: $color-all-white; 
    .panel-body {
        color: $color-all-black;
        p {
            @extend %panel-body-p-common;
        }
    } 
    .panel-heading{
        @extend %panel-heading-common
    }
    .text-muted {
        @extend %text-muted-common
    }
}

@mixin modal-header-def($color) {
    background-color: $color;
    .modal-title {
        color: $color-all-white;
    }
    button.close {
        color: $color-all-white;
    }
}

@mixin thead-def($color) {
    background-color: $color;
    color: $color-all-white;
    font-weight: bold;
}
