<div class="row">
    <div class="col-md-6">
        <label>城市：</label>
        <div class="input-group">
            <select class="form-control" ng-model="city.selected" ng-options="c as c for c in city.options"></select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="showTrend()">
                    <i class="glyphicon glyphicon-search" title="统计数据"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div begin-span-column begin-begin="beginDate" end-begin="endDate"></div>
    </div>
</div>
<div uib-tabset active="active">
    <div uib-tab index="0" heading="精确覆盖率统计">
        <div trend-precise-table trend-stat="trendStat" city="city"></div>
    </div>
    <div uib-tab index="1" heading="测量报告数统计">
        <div trend-mr-table trend-stat="trendStat" city="city"></div>
    </div>
</div>
<div id="time-mr" style="height:300px"></div>
<div id="time-precise" style="height:300px"></div>
<div id="mr-pie" style="height:300px"></div>
<div id="precise" style="height:300px"></div>
    
