<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title text-primary">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div city-selection city="city">
                <button type="button" class="btn btn-success" ng-click="showKpi(city.selected)">
                    <i class="glyphicon glyphicon-picture" title="统计结果"></i>
                </button>
                <a class="btn btn-primary" ng-click="showWorkitemCity()">工单</a>
                <button class="btn btn-success" ng-click="showTrend()">趋势</button>
            </div>
        </div>
        <div class="col-md-6">
            <div date-selection stat-date="statDate">
                <a class="btn btn-primary" ng-click="showChart()">
                    <i class="glyphicon glyphicon-picture" title="统计图表"></i>
                </a>
                <a class="btn btn-default" ng-click="showTopKpi()">TOP指标</a>
            </div>
        </div>
    </div>

    <h4 class="text-center text-primary">
        分区指标统计
    </h4>

    <div district-stat-table overall-stat="overallStat" begin-date="beginDate" end-date="endDate" kpi-type="kpiType"></div>

    <h4 class="text-primary text-center">
        {{overallStat.currentDistrict}}镇区统计信息
    </h4>

    <div town-stat-table overall-stat="overallStat"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>    
