<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="stat in overallStats">
        <div panel-color color="stat.color">
            <div class="row no-padding">
                <div class="col-sm-3 col-lg-5 widget-left" glyphicon-inline type="stat.type">
                </div>
                <div class="col-sm-9 col-lg-7 widget-right">
                    <div class="large">{{stat.count}}</div>
                    <div class="text-muted">{{stat.tips}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">抱怨量趋势图</div>
            <div class="panel-body">
                <div class="canvas-wrapper">
                    <canvas class="main-chart" id="line-chart" height="160" width="600"></canvas>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default chat">
            <div class="panel-heading" id="accordion"><span class="glyphicon glyphicon-comment"></span>重要事项֪</div>
            <div class="panel-body">
                <ul>
                    <li class="left clearfix">
                        <span style="float: left">
                            <span class="glyphicon glyphicon-asterisk img-circle" style="color: rgb(250, 139, 60); font-size: 80px;"></span>
                        </span>
                        <div class="chat-body">
                            <div class="header">
                                <strong class="text-capitalize text-primary">Luls</strong> <small class="text-muted">2016/07/22</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control input-md" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-md" id="btn-chat">Send</button>
                    </span>
                </div>
            </div>
        </div>

    </div><!--/.col-->

    <div class="col-md-4">
        <label>日期：</label>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="statDate.value" is-open="statDate.opened" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="statDate.opened = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="query()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading dark-overlay"><span class="glyphicon glyphicon-check"></span>待办</div>
            <div class="panel-body">
                <ul class="todo-list">
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">Make a plan for today</label>
                        </div>
                        <div class="pull-right action-buttons">
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </li>
                    <li class="todo-list-item">
                        <div class="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">Update Basecamp</label>
                        </div>
                        <div class="pull-right action-buttons">
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-md" id="btn-todo">Add</button>
                    </span>
                </div>
            </div>
        </div>

    </div><!--/.col-->
</div><!--/.row-->