<h3 class="text-primary">{{page.title}}（{{collegeInfo.year.selected}}年）</h3>
<div class="input-group">
    <select ng-model="collegeName" ng-options="c as c for c in collegeInfo.names" class="form-control"></select>
    <div class="input-group-btn">
        <button class="btn btn-primary" ng-click="addOneCollegeMarkerInfo()" ng-disabled="collegeExisted">添加信息</button>
        <button class="btn btn-success" ng-click="createNewCollege()" >增加新校园</button>
    </div>
</div>
<div uib-tabset active="active">
    <div uib-tab index="0" heading="基本信息">
        <div college-info-list colleges="collegeYearList"></div>
    </div>
    <div uib-tab index="1" heading="基础信息">
        <div college-stat-table college-list="collegeList" root-path="rootPath"></div>
    </div>
</div>
